.env
/app/webroot/info.php
/app/tmp/**
/app/logs/**
/app/Vendor/**
.sass-cache
.svn


~*
/composer.*
/build.*
/.buildpath
/.project

\.idea/

\.settings/

\.buildpath

\.project

/app/webroot/css/styles\.css\.map
