[submodule "app/Plugin/Utils"]
	path = app/Plugin/Utils
	url = https://github.com/hashmich/CakeUtils.git
[submodule "app/Plugin/Users"]
	path = app/Plugin/Users
	url = https://github.com/hashmich/CakeUser.git
[submodule "app/Plugin/Cakeclient"]
	path = app/Plugin/Cakeclient
	url = https://github.com/hashmich/CakeClient.git