

#modal-wrapper {
    position: fixed;
    z-index: 1000000;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;

    #modal-content {
        width: 90%;
        max-width: 500px;
        height: auto;
        max-height: 95vh;
        background-color: white;
        padding: 30px;
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        @media only screen and (max-width: 400px) {
            padding: 20px;
        }

        .close {
            position: absolute;
            top: 15px;
            right: 15px;
            color: transparent;
            line-height: 0;
            cursor: pointer;

            &::after {
                pointer-events: none;
                content: '';
                position: relative;
                display: inline-block;
                box-sizing: border-box;
                width: 1.8em;
                height: 1.8em;
                border-radius: 100%;
                border: 2px solid $blue;
                background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 44%, white 44%, white 56%, transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, $blue 0%, $blue 44%, white 44%, white 56%, $blue 56%, $blue 100%);
                background: linear-gradient(-45deg, transparent 0%, transparent 44%, white 44%, white 56%, transparent 56%, transparent 100%), linear-gradient(45deg, $blue 0%, $blue 44%, white 44%, white 56%, $blue 56%, $blue 100%);
                transition: all 0.3s ease;
                top: 2px;
                margin-left: 8px;
            }

            &:hover {
                text-decoration: none;

                &::after {
                    transform: rotate(90deg);
                }
            }
        }

        h1 {
            font-size: 25px;
            margin-top: 0;
            @media only screen and (max-width: 400px) {
                font-size: 20px;
            }
        }


        // for the start-date modal
        .radio-selector {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: nowrap;
            margin: 0;
            margin-bottom: 1rem;
            border: 2px solid $blue;
            border-radius: 14px;
            overflow: hidden;
            padding: 0;
            box-sizing: border-box;
            width: 100%;

            li {
                font-size: 12px;
                line-height: 1em;
                padding: 5px 10px 6px;
                font-weight: bold;
                color: $blue;
                margin: 0;
                flex: 1 1 20%;
            }

            li.label {
                padding-left: 15px;
                flex: 0 0 130px;
            }

            li.option {
                cursor: pointer;
                text-align: center;

                &:last-child {
                    padding-right: 12px;
                }

                &.selected {
                    background-color: $blue;
                    color: white;
                    cursor: default;
                }

                &:hover {
                    background-color: $blue;
                    color: white;
                }
            }
        }

        .separator {
            color: $blue;
        }

        #StartDateResult {
            border: 2px solid $blue;
            border-radius: 15px;
            font-size: 12px;
            font-weight: bold;
            line-height: 1em;
            padding: 5px 10px 6px;
        }

        #dateContainer {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-auto-rows: auto;
            grid-gap: 1em;

            label {
                font-weight: bold;
            }
            input {
                border: 1px solid $blue;
                border-radius: 4px;
                padding: 4px 8px;
                line-height: 1.5em;
                color: $text-color;
                //font-family: metropolis, sans-serif;
            }
        }
        .delete-date, .add-date {
            color: $blue;
            font-weight: bold;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
        .add-date {
            margin: 1em 0;
        }
    }

}
