/* defined as a mixin to possibly include it somewhere else, where !important is not strong enough */
@mixin loginLink {
	.login_link {
		//margin: 10px 0 15px;
		@include clearfix;
		
		p {
			font-weight: bold;
		}

		// maybe this is an ul
		list-style: none;
		
		li {
			margin: 2px 0;
			display: block;
			font-weight: bold;
			font-size: 12px;
			float: left;
			border-left: 2px solid $header_background_color;
			padding: 0 10px;
			&:first-child {
				border: none;
				padding-left: 0 !important;
			}
			a {
				text-decoration: none;
				color: $menu_main_link_color;
				&:hover {
					color: $menu_main_link_hover_color
				}
			}
		}
	}
}
@include loginLink;


/* auth forms - centered */
div.auth {
	border: 2px solid $border_color;
	padding: 20px;
	margin: 6% auto;
	width: 520px;
	@include clearfix;
	
	ul {
		list-style: none;
		margin-left: 50px;
		li {
			float: left;
			border-left: 2px solid $header_background_color;
			padding: 0 15px;
			margin: 2px 0;
			font-size: 12px;
			font-weight: bold;
			&:first-child {
				border: none;
				padding-left: 0;
			}
			a {
				text-decoration: none;
				color: $menu_main_link_color;
				&:hover {
					color: $menu_main_link_hover_color
				}
			}
		}
	}
}
